@model elibrary.product_table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product_table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pro_details)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_details)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pro_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pro_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categories_table.Cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categories_table.Cat_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pro_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
